- page_title 'Edit Article'

- if params['preview']
  = render_article(@article)
  %hr

= render 'form'
%div
  = link_to 'Back to articles', articles_path
  |
  = link_to "Cancel", article_path(@article)
  |
