= render :collection => @articles, :partial => 'article'
- if user_signed_in? && current_user.admin? 
  %div
    = link_to 'New article', new_article_path
    = link_to 'All articles', all_articles_path
