.clearfix {
  display: inline-block; }
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  html[xmlns] .clearfix {
    display: block; }
  * html .clearfix {
    height: 1%; }

a img {
  border: none; }

a {
  color: #0000FF; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

html, body, div {
  margin: 0;
  padding: 0; }

#header .wrapper, #site .wrapper, #footer .wrapper {
  width: 960px;
  margin: 0 auto; }

body {
  font-family: sans-serif; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

#logo {
  font-style: normal;
  font-weight: bold;
  float: left; }
  #logo a {
    color: inherit; }
    #logo a:hover {
      text-decoration: none; }

#header {
  display: inline-block;
  background-color: #f7f7f7;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='white',endColorstr='#f0f0f0');
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#f0f0f0));
  background: -moz-linear-gradient(270deg, white, #f0f0f0);
  border-bottom: 1px solid #CCC; }
  #header:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  html[xmlns] #header {
    display: block; }
  * html #header {
    height: 1%; }
  #header ul.navigation {
    list-style-type: none;
    float: right;
    background: #f5f5f5;
    border: 1px solid #e9e9e9;
    border-bottom-color: #f5f5f5;
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#fcfcfc',endColorstr='#ececec');
    background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#fcfcfc), to(#ececec));
    background: -moz-linear-gradient(270deg, #fcfcfc, #ececec);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    padding: 10px; }
    #header ul.navigation li {
      float: left;
      padding: 0 10px;
      border-left: 1px solid #DDD;
      -webkit-text-shadow: 1px 1px 0 white;
      -moz-text-shadow: 1px 1px 0 white;
      text-shadow: white 1px 1px 0; }
      #header ul.navigation li a {
        color: #4183C4; }
      #header ul.navigation li:first-child {
        float: left;
        padding: 0 5px;
        border-left: none; }

#footer {
  margin-top: 20px;
  padding: 10px 0;
  background-color: #F1F1F1;
  border-top: 2px solid #DDD;
  display: inline-block; }
  #footer:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  html[xmlns] #footer {
    display: block; }
  * html #footer {
    height: 1%; }
  #footer .powered {
    float: right; }
    #footer .powered p {
      margin: 0 0px 0 10px;
      padding: 0;
      font-size: 12px;
      font-style: italic; }
    #footer .powered ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
      #footer .powered ul li {
        float: left;
        margin-left: 10px; }
        #footer .powered ul li img {
          height: 50px; }

#main {
  width: 700px;
  float: left; }

#side {
  width: 200px;
  float: right; }

#site {
  display: inline-block; }
  #site:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  html[xmlns] #site {
    display: block; }
  * html #site {
    height: 1%; }

#flash_notice {
  padding: 5px 8px;
  margin: 10px 0;
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0;
  background-color: #FCC;
  border: solid 1px #C66; }

.edit-link {
  padding-left: 20px;
  background: center left transparent url("../images/icons/page_edit.png") no-repeat; }

.delete-link {
  padding-left: 19px;
  background: center left transparent url("../images/icons/delete.png") no-repeat; }

.cancel-link {
  padding-left: 20px;
  background: center left transparent url("../images/icons/cancel.png") no-repeat; }

.article h2.title {
  margin: 10px 0;
  color: #4183C4; }
  .article h2.title a {
    color: inherit; }
.article ul.meta {
  display: inline-block;
  padding: 0;
  margin: 0;
  list-style-type: none;
  color: #AAA; }
  .article ul.meta:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0; }
  html[xmlns] .article ul.meta {
    display: block; }
  * html .article ul.meta {
    height: 1%; }
  .article ul.meta .author {
    float: left;
    color: #94BFEA;
    font-weight: bold; }
  .article ul.meta .time {
    float: left;
    margin-left: 10px; }
  .article ul.meta .num-comments {
    padding-left: 18px;
    background: center left transparent url("../../images/icons/comments.png") no-repeat;
    float: right; }
    .article ul.meta .num-comments a {
      color: inherit; }
.article .body {
  text-align: justify; }

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

form.simple_form .input {
  margin-top: 10px; }
  form.simple_form .input label {
    vertical-align: top;
    margin-right: 20px;
    display: inline-block;
    text-align: right;
    width: 100px; }
    form.simple_form .input label abbr {
      float: right;
      width: 0;
      color: #F00; }
  form.simple_form .input input.string, form.simple_form .input textarea.text {
    width: 300px; }
  form.simple_form .input textarea.text {
    height: 100px; }
  form.simple_form .input span.error {
    display: block;
    margin-left: 120px;
    clear: both;
    padding-left: 20px;
    background: url("../images/icons/exclamation.png") center left no-repeat; }
form.simple_form .buttons {
  padding-left: 120px; }
