.edit-link {
  padding-left: 20px;
  background: center left transparent url("../images/icons/page_edit.png") no-repeat;
}

.delete-link {
  padding-left: 19px;
  background: center left transparent url("../images/icons/delete.png") no-repeat;
}

.cancel-link {
  padding-left: 20px;
  background: center left transparent url("../images/icons/cancel.png") no-repeat;
}
