$form_label_width: 150px;
$form_label_padding: 20px;

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff;
  }

  p {
    margin: 8px 10px;
  }

  ul {
    margin: 0;
  }
}

form.simple_form {
  .input {
    margin-top: 10px;

    label {
      vertical-align: top;
      margin-right:  $form_label_padding;
      display: inline-block;
      text-align: right;
      width: $form_label_width;

      abbr {
        float: right;
        width: 0;
        color: #F00;
      }

      &.boolean {
        width: auto;
        text-align: left;
        margin-right: 0;
      }
    }

    input.string, input.password, textarea.text {
      width: 300px;
    }
    textarea.text {
      height: 100px;
    }

    &.boolean {
        padding-left: $form_label_width + $form_label_padding;
    }

    span.error {
      display: block;
      margin-left: $form_label_width + $form_label_padding;
      clear:both;
      padding-left: 20px;
      background: url('../images/icons/exclamation.png') center left no-repeat;
    }
  }

  .textarea {
    margin-top: 10px;

    textarea {
      width: 100%;
    }
  }

  .buttons {
    margin-top: 10px;
    padding-left: $form_label_width + $form_label_padding;
  }
}
